networks:
  default:
    driver: bridge
    name:  roboshop
    # external: true #Icreated network already using docker network create roboshop
volumes:
  mongodb:
  redis:
  mysql:
  rabbitmq: #docker volume create rabbitmq
services:
  mongodb:
    image: eswarteja123/mongodb:v1
    build: ./mongodb
    container_name: mongodb
    volumes:
    - mongodb:/data/db
  catalogue:
    image: eswarteja123/catalogue:v1
    build: ./catalogue
    container_name: catalogue
    depends_on:
    - mongodb
  redis:
    image: redis:7.0
    container_name: redis
    volumes:
    - redis:/data
  user:
    image: eswarteja123/user:v1
    build: ./user
    container_name: user
    depends_on:
    - redis
    - mongodb
  cart:
    image: eswarteja123/cart:v1
    build: ./cart
    container_name: cart
    depends_on:
    - catalogue
    - redis
  mysql:
    image: eswarteja123/mysql:v1
    build: ./mysql
    container_name: mysql
    volumes:
    - mysql:/var/lib/mysql
  shipping:
    image: eswarteja123/shipping:v1
    build: ./shipping
    container_name: shipping
    depends_on:
    - mysql
    - cart
  rabbitmq:
    image: rabbitmq:3
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: roboshop
      RABBITMQ_DEFAULT_PASS: roboshop123
    volumes:
    - rabbitmq:/var/lib/rabbitmq
  payment:
    image: eswarteja123/payment:v1
    build: ./payment
    container_name: payment
    environment: 
      CART_HOST: cart
      CART_PORT: 8080
      USER_HOST: user
      USER_PORT: 8080
      AMQP_HOST: rabbitmq
      AMQP_USER: roboshop
      AMQP_PASS: roboshop123
    depends_on:
    - rabbitmq
    - cart
    - user
  frontend: 
    image: eswarteja123/frontend:v1
    build: ./frontend
    container_name: frontend
    ports:
    - "80:80"
    depends_on:
    - catalogue
    - user
    - cart
    - shipping
    - payment